body{
  background-color: pink;
}
.left{
  background-color: gold;
  width:30%;
  border-radius: 5px solid white;
  text-align: center;
}
img{
  width: 100%;
}
.right{
  width: 60%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1%;

  padding: 1%;
}
.parent{
  display: flex;
}
table{
  width: 100%;
}
@media screen and (max-width:767px) {
.parent{
  flex-wrap: wrap;
  background-color: red;
}
.left{
  width: 100%;
}
.right{
  width: 100%;
}
}

@media screen and (min-width:768px) and (max-width:1024px) {
  .parent{
    background-color: gold;
    flex-wrap:wrap;
      font-style: italic;
}
.left{
  width: 30%;
  background-color: orange;

}
